body {
    background-color: #f7f7f7;
}

.container {
    margin: auto;
    max-width: 1440px;
}

.header {
    font-size: 20px;
    line-height: 59.2px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: #ff9700;
}

.subheader {
    font-family: 'Montserrat', sans-serif;
    font-size: 19px;
    line-height: 27.2px;
    text-align: center;
    color: #4a4a4a;
    width: 770px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -8px;
    margin-bottom: 70px;
}

.barmenu {
    margin-left: 120px;
    margin-right: 120px;
    display: grid;
    grid-template-areas: "marketing professional business enterpise";
    grid-column: 1fr 1fr 1fr 1fr;
    grid-row: 1fr;
}

.menu1 {
    grid-area: marketing;
    box-sizing: border-box;
    padding: 5px 50px 5px 50px;
    font-size: 30px;
    font-weight: 1000;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: #4a4a4a;
    margin-right: 10px;
}

.menu2 {
    grid-area: professional;
    box-sizing: border-box;
    padding: 5px 50px 5px 50px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #FFFFFF;
    text-align: center;
    margin-right: 10px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-image: url(img/professional-color.52ed9c3.png);
}

.menu3 {
    grid-area: business;
    box-sizing: border-box;
    padding: 5px 50px 5px 50px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #FFFFFF;
    text-align: center;
    margin-right: 10px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-image: url(img/business-color.0405803.png);
}

.menu4 {
    grid-area: enterpise;
    box-sizing: border-box;
    padding: 5px 50px 5px 50px;
    font-family: 'Montserrat', sans-serif;
    color: #FFFFFF;
    text-align: center;
    font-weight: 700;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-image: url(img/enterprise-color.965a38b.png);
}

p.p1 {
    font-size: 28px;
    margin-top: 15px;
}

p.p2 {
    font-size: 10px;
    margin-top: -18px;
}

.button {
    background-color: black;
    width: 150px;
    margin: auto;
    box-sizing: border-box;
    padding: 10px 0 10px 0;
    opacity: 0.3;
    border: 1px solid #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
}

.button a {
    font-size: 12px;
    font-weight: 700;
    color: #FFFFFF;
    text-decoration: none;
}

.boxmenu {
    margin: auto;
    display: grid;
    width: 1200px;
    grid-template-areas: "channels p b e";
    grid-template-columns: 330px 285px 260px auto;
    background-color: #FFFFFF;
    border-radius: 8px;
}

.channel {
    grid-area: channels;
    box-sizing: border-box;
}

.channel-info {
    width: 300px;
    margin: auto;
    height: 320px;
    padding-top: 20px;
    padding-left: 10px;
}

.channel-info a {
    display: block;
    font-size: 16px;
    font-weight: 700;
    line-height: 27px;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    margin-top: 30px;
    color: #ff9700;
}

.ceklistP a {
    display: block;
    font-size: 16px;
    font-weight: 700;
    line-height: 27px;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    margin-top: 36px;
    color: #4a4a4a;
}

.ceklistB a {
    display: block;
    font-size: 16px;
    font-weight: 700;
    line-height: 27px;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    margin-top: 36px;
    color: #6141e5;
}

.ceklistE a {
    display: block;
    font-size: 16px;
    font-weight: 700;
    line-height: 27px;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    margin-top: 36px;
    color: #ff9700;
}

.p .ceklistP .ceklistburam a {
    display: block;
    font-size: 16px;
    font-weight: 700;
    line-height: 27px;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    margin-top: 36px;
    color: #dbe4e4;
}

.p {
    grid-area: p;
    text-align: center;
}

.b {
    grid-area: b;
    text-align: center;
}

.e {
    grid-area: e;
    text-align: center;
}



.headerprofile {
    font-size: 26px;
    font-weight: 900;
    line-height: 37px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: #4a4a4a;
    margin-top: 90px;
}

.profile {
    margin-top: 60px;
    margin-left: 85px;
    margin-right: 85px;
    margin-bottom: 30px;
    display: grid;
    grid-template-areas: "name email nomor";
    grid-column: 1fr 1fr 1fr;
    grid-row: 1fr;
}

.pro1 {
    grid-area: name;
    font-size: 12px;
    opacity: 0.5;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid #4a4a4a;
    margin-right: 25px;
    border-radius: 5px;
    cursor: pointer;
}

.pro2 {
    grid-area: email;
    font-size: 12px;
    opacity: 0.5;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid #4a4a4a;
    margin-right: 25px;
    border-radius: 5px;
    cursor: pointer;
}

.pro3 {
    grid-area: nomor;
    font-size: 12px;
    opacity: 0.5;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid #4a4a4a;
    border-radius: 5px;
    cursor: pointer;
}

.button1 {
    margin: auto;
    width: 170px;
    font-size: 14px;
    text-align: center;
    padding: 8px 18px 8px 18px;
    background-color: #FFA92C;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
}

.button1 a {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: #FFFFFF;
}

.header1 {
    margin-top: 90px;
}

.header1 h2 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: #4a4a4a;
    font-size: 30px;
    font-weight: 700px;
    line-height: 37px;
}

.header1 p {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: #4a4a4a;
    font-size: 16px;
    line-height: 27px;
}

.container1 {
    margin: auto;
    margin-top: 110px;
    margin-bottom: 110px;
    display: grid;
    width: 1200px;
    grid-template-areas: "m d "
        "f g";
    grid-column: 1fr 1fr;
    grid-row: 1fr 1fr;
    background-color: #FFFFFF;
    border-radius: 8px;
}

.marketer {
    grid-area: m;
    background-color: #f7f7f7;
}

.box-marketer {
    width: 352px;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
    color: #FFFFFF;
    background-color: #ff9700;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding: 6px;
    text-align: center;
    box-sizing: border-box;
}


.developer {
    grid-area: d;
    background-color: #f7f7f7;
}

.box-developer {
    width: 352px;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
    color: #FFFFFF;
    background-color: #6141e5;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding: 6px;
    text-align: center;
    box-sizing: border-box;
}

.box-info {
    background-color: #FFFFFF;
    width: 480px;
    height: 1300px;
    margin: auto;
    box-sizing: border-box;
}

.img-flow {
    width: 456px;
    height: 392px;
    margin: auto;
    background-image: url(img/flow.5ba1a31.png);
    background-position: -80px;
}

.text-info {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 37px;
    color: #4a4a4a;
}

.p-info {
    width: 480px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 27px;
    color: #4a4a4a;
}

.img-persona {
    width: 456px;
    height: 392px;
    margin: auto;
    background-image: url(img/persona.0ecbf11.png);
    background-position: -80px;
}

.button-info {
    font-size: 14px;
    line-height: 24px;
    width: 120px;
    height: 44px;
    font-family: 'Montserrat', sans-serif;
    color: #ff9700;
    background-color: #FFFFFF;
    border: 2px solid #FFA92C;
    padding: 8px 18px 8px 18px;
    box-sizing: border-box;
    cursor: pointer;
}

.button-info a {
    text-decoration: none;
    color: #ff9700;
}

.button-info1 {
    font-size: 14px;
    line-height: 24px;
    width: 150px;
    height: 44px;
    font-family: 'Montserrat', sans-serif;
    color: #ff9700;
    background-color: #FFFFFF;
    border: 2px solid #FFA92C;
    padding: 8px 18px 8px 18px;
    box-sizing: border-box;
    cursor: pointer;
}

.button-info1 a {
    text-decoration: none;
    color: #ff9700;
}

.button-info2 {
    font-size: 14px;
    line-height: 24px;
    width: 128px;
    height: 44px;
    font-family: 'Montserrat', sans-serif;
    color: #ff9700;
    background-color: #FFFFFF;
    border: 2px solid #FFA92C;
    padding: 8px 18px 8px 18px;
    box-sizing: border-box;
    cursor: pointer;
}

.button-info2 a {
    text-decoration: none;
    color: #ff9700;
}

.button-info3 {
    font-size: 14px;
    line-height: 24px;
    width: 80px;
    height: 44px;
    font-family: 'Montserrat', sans-serif;
    color: #ff9700;
    background-color: #FFFFFF;
    border: 2px solid #FFA92C;
    padding: 8px 18px 8px 18px;
    box-sizing: border-box;
    cursor: pointer;
}

.button-info3 a {
    text-decoration: none;
    color: #ff9700;
}

.img-ebilling {
    width: 456px;
    height: 392px;
    margin: auto;
    background-image: url(img/e-billing.6c2735a.png);
    background-position: -80px;
}

.img-otp {
    width: 456px;
    height: 392px;
    margin: auto;
    background-image: url(img/smart-otp.972f3cb.png);
    background-position: -80px;
}





.marketerinfo {
    grid-area: f;
}

.developerinfo {
    grid-area: g;
}











@media (min-width: 320px) and (max-width: 620px) {
    .subheader {
        width: 450px;
        font-size: 20px;
    }

    .headerprofile {
        font-size: 20px;
        width: 240px;
        margin: auto;
    }
}